@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");

:root {
  --mainColor: #019b92;
  --secondColor: #33afa7;
;
}

* {
  font-family: "Signika Negative", sans-serif;
}

html,
div,
body {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--mainColor);
}

h1 {
  text-align: center;
  color: white;
}

.centralizar {
  margin-left: auto;
  margin-right: auto;
}

.table {
  background-color: white;
  box-shadow: 5px 10px 20px #00000082;
  margin-bottom: 21.44px;
}

.btn1 {
  text-decoration: none;
  color: white;
  background-color: var(--mainColor);
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  cursor:pointer;
  transition: background-color 400ms;
}

.btn1:hover {
  background-color: var(--secondColor);
}

/*	index.jsp	*/

#divBtn1 {
  width: 70%;
  padding: 20px 0px;
}

#tbl1 {
  width: 70%;
}

#tbl1 th {
  background-color: var(--mainColor);
  color: white;
  padding: 8px;
}

#tbl1 tr td {
  background-color: white;
  border-style: solid;
  border-color: rgba(78, 78, 78, 0.253);
  border-width: 1px;
  padding: 6px;
}

.img-btn {
  width: 20px;
  height: auto;
}

/*	editar.jsp / cadastro.jsp	*/

#tbl2 {
  width: 50%;
  text-align: center;
  padding: 29px;
  margin-top: 83px;
}

#tbl2 tr td input,
#tbl2 tr td label,
#tbl2 tr td select {
  font-size: 16pt;
  margin: 8px;
}

#inputId{
	color:#7f7f7f;
}
